<mat-card class="card" (click)="onClickCharacter()">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{characterName}}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{characterType}}</mat-card-subtitle>
  </mat-card-header>

  <div class="card-content">
    <img class="card-content-image" mat-card-image src="{{characterAvatar}}" alt="Superman">
    <mat-card-content class="card-content-description">{{characterDescription}}</mat-card-content>
  </div>

  <mat-card-footer class="card-actions">
    <a class="card-footer-link" href="character/{{characterName}}?editable=true">
      <img src="/assets/edit-solid.svg" class="edit-icon far fa-edit" alt="edit-solid" (click)="onClickEdit($event)">
    </a>
    <a class="card-footer-link">
      <img src="/assets/trash-alt-solid.svg" class="remove-icon fas fa-trash-alt" alt="remove-solid" (click)="onClickDelete($event)">
    </a>
  </mat-card-footer>
</mat-card>
