<div class="main-component">
  <app-search class="header" (queryResult)="loadCharacters($event)"></app-search>
  <section class="main-component-cards">
    <app-card class="cards" *ngFor="let character of characters" characterName={{character.characterName}} characterType={{character.characterType}} characterDescription={{character.characterDescription}} characterAvatar="{{getAvatar(character)}}">
    </app-card>
  </section>

  <mat-paginator class="component-pagination" [length]="pagelength" [pageIndex]="pageNumber" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePagination($event)" aria-label="Select page">
  </mat-paginator>
</div>
