.character-data {
  display: grid;
  gap: .5em;
  grid-auto-flow: dense;
  grid-template-areas:
    "avatar avatar avatar avatar"
    "basic-data part-of part-of part-of"
    "abilities abilities friends friends";
}

.mat-header-cell {
  color: var(--font-input-color);
}

.character-data-avatar,
.character-data-card,
.character-data-abilities-table,
.character-data-teams-table,
.character-data-friends-table {
  position: relative;
  background-color: var(--element-background-color);
  color: var(--font-input-color);
  padding: var(--default-padding);
}

.character-data-avatar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-area: avatar;
  justify-self: center;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  padding: var(--default-padding);
  text-align: center;
  margin: 3em 0 4em 0;
}

.avatar-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.character-data-input {
  box-shadow: .12em .12em .25em var(--element-background-color);
  padding: var(--default-padding);
}

.basic-data {
  display: grid;
  grid-area: basic-data;
}

.basic-data-first-appeareance {
  /* border: 1px solid red; */
  position: relative;
  display: inline;
}

.character-data-friends {
  grid-area: friends;
}

.character-data-part-of {
  grid-area: part-of;
}

.character-data-abilities {
  grid-area: abilities;
}

.character-data-abilities,
.character-data-part-of,
.character-data-friends {
  display: grid;
}

.character-data-abilities:not(.add-row),
.character-data-part-of:not(.add-row),
.character-data-friends:not(.add-row) {
  align-items: flex-start;
}

.character-data-abilities-table,
.character-data-teams-table {
  width: 100%;
}

.add-row,
.submit {
  position: relative;
  display: grid;
  justify-items: right;
  align-self: flex-end;
  margin-top: 3em;
}

.add-row-button,
.submit-button {
  width: 12em;
  height: 3.5em;
  border-radius: 2.5px;
  padding: 1em;
  background-color: #1192ee;
  color: white;
  border: none;
  font-weight: 600;
}

.add-row-button:active,
.submit-button:active {
  box-shadow: 0 1px var(--body-background-color);
  transform: translateY(4px) translateX(-1px);
  transform: 1s;
}

.add-row-button:hover,
.submit-button:hover {
  background-color: #1083D5;
}
