.header {
  /*border: solid 1px lime;*/
  display: grid;
  justify-items: left;
  align-content: center;
  grid-template-areas: "add search search-button";
  grid-template-columns: 1.75em 1fr;
  width: 100%;
  height: 5em;
  padding: var(--default-padding);
  background-color: var(--element-background-color);
}

.header-search {
  /*border: solid 1px orange;*/
  grid-area: search;
  top: 10%;
  display: flex;
  width: 90%;
  padding: 1em;
}

.search-button {
  grid-area: search-button;
  position: relative;
  align-self: center;
  top: 12%;
  left: 1.5em;
  width: 2em;
  cursor: pointer;
}

.search-button:active,
.header-add-button:active {
  box-shadow: 0 3px 1.2px var(--body-background-color);
  transform: translateY(4px);
  transform: 1s;
}

.header-add-button {
  /*border: solid 1px red;*/
  position: relative;
  grid-area: add;
  align-self: center;
  top: 5%;
  width: 2em;
  background-color: transparent;
}

.search-icon {
  /*border: solid 1px red;*/
  position: relative;
  top: 10%;
  left: .75em;
  width: 2em;
}

.header-search-input {
  /*border: solid 1px red;*/
  position: relative;
  left: .5em;
  width: 20%;
  height: 3em;
  border-radius: 7px;
  color: var(--font-input-color);
  background-color: var(--body-background-color);
  padding: calc(var(--default-padding) - .6em);
  animation: collapse_input 1s
}

.search-icon:hover {
  transform: scale(1.1);
  transition: .5s;
}

.header-search-input:hover,
.header-search-input:focus {
  width: 21%;
  animation: expand_input 1s;
}

@keyframes expand_input {
  from {
    width: 20%;
  }
  to {
    width: 21%;
  }
}

@keyframes collapse_input {
  from {
    width: 21%;
  }
  to {
    width: 20%;
  }
}
