:root {
    --body-background-color: #192229;
    --element-background-color: #212E36;
    --font-color: #C8CDD0;
    --font-input-color: #969BA1;
    --default-padding: 1.5em;
    --input-background-color: #2A3B47;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--body-background-color);
    color: var(--font-color);
    padding: var(--default-padding);
}


/*Paginator styles*/

::ng-deep .mat-select-value-text,
::ng-deep .mat-option,
::ng-deep .mat-select-arrow,
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--font-input-color);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple,
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--font-input-color);
}

::ng-deep .mat-option.mat-active,
::ng-deep .mat-select-panel {
    background-color: var(--body-background-color);
}

::ng-deep .mat-option {
    background-color: var(--element-background-color);
}